<?xml version="1.0"?>
<configuration>
  <!--<system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>-->
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <pages buffer="true" enableViewStateMac="false" validateRequest="false"/>
    <!--<customErrors mode="Off"/>-->
    <!--<compilation debug="true"/>-->
    <compilation debug="false"/>
    <!--
            通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <!--<authentication mode="Windows"/>-->
    <authentication mode="None"/>
    <!--
            通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <!--<system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://paysdk.weixin.qq.com/" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment >
   </system.serviceModel>-->
</configuration>